<div *ngIf="isPostsLoaded && isUserDataLoaded" class="index-page">
    <mat-card class="post-card" *ngFor="let post of posts; let i = index" fxFlexAlign="stretch">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{post.title}}</mat-card-title>
        <mat-card-subtitle>{{post.location}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="formatImage(post.image)" alt="post image">
      <div style="display: flex; align-items: center; justify-content: space-between;">
        <mat-card-subtitle text-align="start">Posted by {{post.username}}</mat-card-subtitle>
        <mat-card-actions text-align="end"> 
          <button *ngIf="isUserDataLoaded" mat-button (click)="likePost(post.id, i)" [ngClass]="post.userLiked.indexOf(user.username) !== -1 ? 'is-liked' : 'not-liked'">
            <mat-icon>favorite</mat-icon> {{post.likes}} likes
          </button>
        </mat-card-actions>
      </div>
      <mat-card-content>
        <p>{{post.caption}}</p>
      </mat-card-content>
  
      <div>
        <p *ngFor="let comment of post.comments"><span style="font-weight: 500">{{comment.username}}</span>: {{comment.message}}</p>
      </div>
  
      <mat-form-field class="w-100">
        <mat-label>Write a comment...</mat-label>
        <input #nameText (keyup.enter)="commentPost(nameText.value, post.id, i)" matInput #message maxlength="128">
      </mat-form-field>
  
    </mat-card>
  </div>
