<div  class="container">
    <div style="text-align: right">
      <button mat-flat-button color="primary" routerLink="/profile">Posts</button>
    </div>
  
    <h2>Create Post</h2>
    <form [formGroup]="postForm">
  
      <img class="post-image" [src]="previewImageURL || 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png'" alt="user image">
  
      <input type="file"
             style="display: none"
             #fileInput
             (change)="onFileSelected($event)">
  
      <button mat-button (click)="fileInput.click()">Pick File</button>
  
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput
               formControlName="title">
      </mat-form-field>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Caption</mat-label>
        <input matInput
               formControlName="caption">
      </mat-form-field>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Location</mat-label>
        <input matInput
               formControlName="location">
      </mat-form-field>
  
      <div style="text-align: right">
        <button mat-flat-button color="primary" [disabled]="postForm.invalid" (click)="submit()">
          Create Post
        </button>
      </div>
  
    </form>
  </div>
  