<mat-toolbar color="primary">
    <span routerLink="/main" style="cursor: pointer; margin-left: 20px;">SocNet</span>

    <span class="spacer"></span>

    <button *ngIf="!isLoggedIn" routerLink="/login" matTooltip="Login" mat-icon-button class="example-icon favorite icon">
        <mat-icon>login</mat-icon>
    </button>

    <h3 *ngIf="isDataLoaded">{{this.user.username}}</h3>

    <div *ngIf="isLoggedIn" class="spacer-mini">
        <a routerLink="/main"><mat-icon>feed</mat-icon></a>
        <a routerLink="/profile"><mat-icon>account_circle</mat-icon></a>
        <a href="" (click)="logout()"><mat-icon>logout</mat-icon></a>
    </div>
</mat-toolbar>
