.spacer{
    flex: 1 1 auto;
}

.spacer-mini{
    display: flex;
    align-items: center;
    justify-content: center;
}
.spacer-mini a{
    padding-top: 8px;
    margin-left: 10px;
    color: white;
}
.avatar{
    margin: 5px 5px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}