<div *ngIf="isUserDataLoaded" class="user-profile">

    <h1>Profile</h1>
    <div style="text-align: right">
      <button mat-flat-button color="primary" (click)="openEditDialog()" style="margin-right: 5px;">Edit Info</button>
    </div>
    
  
    <div style="padding-top: 2rem" class="row">
      <div class="col">
        <img class="profile-image" [src]="previewImageURL || formatImage(userProfileImage) || 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png'" alt="user image">
  
        <input type="file"
               style="display: none"
               #fileInput
               (change)="onFileSelected($event)">
  
        <button mat-button (click)="fileInput.click()">Pick File</button>
        <button mat-button *ngIf="selectedFile" (click)="onUpload()">Upload</button>
      </div>
      <div class="col" style="text-align: left">
  
        <h2>{{user.username}}</h2>
  
        <p>{{user.bio}}</p>
      </div>
  
      <mat-divider style="margin: 2rem 0"></mat-divider>
  
      <router-outlet></router-outlet>
  
    </div>
  
  </div>